body{
    color:black;
    font: normal 16px Arial, Helvetica, sans-serif;
    margin: 30px;
}

.container{
    width: 80%;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
 

    padding:10px;

}

.box1{
    border: 2px red solid;
    background-color: black;
    color: white;
}

.box1 h1{
    color: yellow;
}

.box2{
    background-color: whitesmoke;
    border: 5px dotted green;
    color:black;

}

.lista{
    color: black;
    border-radius: 20px;
    border: 10px solid red;
}

.lista ul{
    list-style-image: url(checkCopy.png);
    padding-left: 30px;
}

.lista h3{
text-align: center;
}

.block{
    border: 2px solid gray;
    width: 30%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: center;

}



.container_flex{

    width: 80%;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
 

    padding:10px;
    display: flex;
}
.block_flex{
    border: 1px solid gray;
   
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    display: flex;
 

}

.block_image{
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
}

